:root{
  --dark-blue: #000921;
  --light-blue: #6AC7EC;
  --background-grey: #38405B;
  --light-text: #F0FFFF;
  --details-text: normal 500 1.125rem "roboto", sans-serif;
  --btn: normal 600 1.125rem "roboto", sans-serif;
  --box-shadowing: 4px 4px 5px var(--light-blue);
  --h1: 1.75rem;
  --intro-text: normal 600 1.5rem "roboto", sans-serif;
  --h2: 1.5rem;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body{
  margin: 0;
  background-color: var(--background-grey);
  font: var(--details-text);
  color: var(--light-text);
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

h1{
  margin: 0px;
  text-align: center;
  font-size: var(--h1);
}

h2{
  margin: 80px 0 20px 0;
  font-size: var(--h2);
  padding-right: 40px;
  border-bottom: 3px solid var(--light-blue);
}

h3{
  margin-top: 50px;
}

footer{
  margin-bottom: 0;
  padding: 30px;
  background-color: var(--dark-blue);
  text-align: center;
}


/*-------------- content wrappers -------------*/

.page-wrapper-small,
.page-wrapper-medium,
.page-wrapper-large{
  margin: 0 auto;
  width: 92%;
}

/*-------------- container styling -------------*/
.content-cont-style{
  background-color: var(--dark-blue);
  color: var(--light-text);
  padding: 15px;
}

/*-------------- Navigation -------------*/
/*skip to main content for keyboard users*/
#skip a {
  position: absolute;
  top: -100px;
  overflow: hidden;
  border: 2px solid azure ;
  background-color: #060D29;
  color: azure  ;
  padding: 5px;  
  transition: 0.3s; 
} 

#skip a:focus { 
  top: 0px;
  position: absolute ;
  z-index: 100  ;
}

/*Hidden text for screen readers*/
.visually-hidden {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

header{
  width: 100%;
  background-color: #060D29;
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo{
  max-height: 65px;
  padding-left: 20px;
}

/* links layout*/

.nav-links{
  margin: 0;
  padding: 10px;
  position: absolute;
  width: 100%;
  left: -10px;
  transition: 1s;
  top: 55px;
}

.nav-links ul{
  margin: 0;
  padding: 0;
}

.nav-links li{
  margin: 0;
  display: block;
  background-color: #060D29;
  padding: 10px;
  width: 100%;
}

.nav-links a{
  text-decoration: none;
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: azure;
  position: relative;
}

/*Hover animation for links*/
.nav-links a::before {
  content: "";
  width: 1%;
  height: 2px;
  background-color: transparent;
  position: absolute;
  left: 0;
  bottom: 1px;
}

.current-section a:before,
.nav-links a:hover:before {
  width: 100%;
  background-color: azure;
  transition: 0.5s;
}

/*hamburger menu icon and animation*/

.hide-menu{
  top: -200px;
}

nav button {
  position: absolute;
  width: 18vw;
  height: 60px;
  max-width: 60px;
  right: 10px;
  top: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.line1,
.line2,
.line3 {
  position: absolute;
  width: 15vw;
  max-width: 50px;
  height: 6px;
  border-radius: 5px;
  background-color: azure;
  transition: all 0.5s ease-in-out;
  left: 3px;
}

.line1 {
  top: 10px;
}

.line2 {
  top: 27px;
}

.line3 {
  top: 45px;
}

.menu-open-transparent{
  background-color: transparent;
}

.menu-open-rotate1{
  transform: rotate(45deg);
  top: 30px;
  width: 15vw;
}

.menu-open-rotate3 {
  transform: rotate(-45deg);
  top: 30px;
  width: 15vw;
}

/*------------- Welcome Section ----------------*/
#home{
  margin-top: 100px;
  
}

.home-intro{
  padding: 25px;
  margin-bottom: 30px;
  height: fit-content;
}

.intro-text{
  font: var(--intro-text);
}

/*------------- About Section ---------------*/

.skill-container{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill-opening-p{
  width: 100%;
  font-size: var(--details-text);
}

.skill{
  width: 50%;
  text-align: center;
}

.skill img{
  margin-top: 30px;
  height: 80px;
}

.skill p{
  margin: 10px 0 30px 0;
}

/*------------- Projects ----------------*/

.project-details h3{
  display: block;
  margin: 20px auto;
  width: fit-content;
 
}

.project-card {
  margin-top: 50px;
}

.project-image{
  height: 100%;
  min-height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
}

.blog-image{
  background-image: url("/images/fluffy_piranha.jpg");
}

.museum-image {
  background-image: url("/images/community_science_museum.jpg");
}

.rainydays-image {
  background-image: url("/images/rainydays.jpg");
}

.project-details a {
  max-height: 100px;
  display: block;
  padding: 10px;
  width: fit-content;
  background-color: var(--light-blue);
  border-radius: 10px;
  text-decoration: none;
  color: var(--dark-blue);
  font: var(--btn);
}

.project-links{
  display: flex;
  justify-content: space-around;
}

.project-details img{
  height: 30px;
  display: inline-block;
}

.project-details :first-child {
  margin-top: 0;
}
/*--------- Contact --------------*/

#contact{
  margin-bottom: 50px;
}

.contact-methods {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
}

.contact-methods a{
  color: var(--light-text);
  text-decoration: none;
  font: var(--btn);
  display: block;
  width: 33%;
  text-align: center;
}

.contact-methods img {
  height: 50px;
}

.contact-form{
  margin: 30px auto;
}
.button-center{
  text-align: center;
}

.button-center button{
  border: none;
  max-height: 100px;
  padding: 10px;
  width: fit-content;
  background-color: var(--light-blue);
  border-radius: 10px;
  text-decoration: none;
  color: var(--dark-blue);
  font: var(--btn);
  cursor: pointer;
}

#contact-form{
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 0 auto;
}

#contact-form label{
  margin: 20px 0 5px 0;
}

#contact-form input,
#contact-form textarea{
  border-radius: 5px;
  font: var(--details-text);
  box-sizing: border-box;
  padding: 10px;
}

textarea {
  height: 10rem;
  resize: none;
}

#contact-form input[type="submit"]{
  margin: 30px auto;
  border: none;
  width: fit-content;
  min-width: 100px;
  font: var(--btn);
  color:var(--dark-blue);
  background-color: var(--light-blue);
  cursor: pointer;
}

#contact-form input[type="submit"]:hover,
.button-center button:hover,
.project-details a:hover{
  transition: 0.3s;
  box-shadow: 0px 0px 10px var(--light-text);
}

#contact-form input[type="submit"]:disabled{
  opacity: 0.2;
  pointer-events: none;
}

.error-submission,
.success{
  border: 5px solid #18cc96;
  display: block;
  padding: 15px;
}

.error-submission{
  border: 5px solid red;
}


@media only screen and (min-width: 500px) {
  .skill{
    width: 33.3%;
  }
}

@media only screen and (min-width: 720px) {
  :root{
    --dark-blue: #000921;
    --light-blue: #6AC7EC;
    --background-grey: #38405B;
    --light-text: #F0FFFF;
    --details-text: normal 600 1.125rem "roboto", sans-serif;;
    --btn: normal 600 1.125rem "roboto", sans-serif;
    --box-shadowing: 4px 4px 5px var(--light-blue);
    --h1: 2.75rem;
    --intro-text: normal 600 2rem "roboto", sans-serif;
    --h2: 2.5rem;
  }

  /*------ navigation adjustments ------*/
  nav button {
    display: none;
  }

  nav ul,
  .hide-menu{
    display: flex;
    max-width: 460px;
  }
  
  nav{
    position: relative;
  }

  .nav-links{
    top: 0px;
    margin: 0 0 0 auto;
    right: 0;
  }

  /*wrapper adjustments*/
  .page-wrapper-nav,
  .page-wrapper-medium{
    max-width: 1000px;
    width: 90%;
  }
  
  .page-wrapper-small{
    max-width: 700px;
    width: 90%;
  }

  .content-cont-style{
    box-shadow: var(--box-shadowing);
  }
  /*------home section push down------*/
  #home{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
    align-items: center;
  }

  /*---------about section ------*/
  #about{
    min-height: 370px;
  }

  .skill{
    width: 25%;
  }

  /*Project section animation and setup for bigger screen*/
  .project-content {
    display: grid;
    gap: 30px;
    grid-template-columns: 1.5fr 1fr;
    position: relative;
  }

  .project-details {
    position: absolute;
    width: 50%;
    right: 0;
    top: 17%;
    }

  .blog-image{
    background-image: url("/images/fluffy_piranha_large.jpg");
  }
  
  .museum-image {
    background-image: url("/images/community_science_museum_large.jpg");
  }
  
  .rainydays-image {
    background-image: url("/images/rainydays_large.jpg");
  }

  .project-card{
    position: relative;
  }

  .project-card h3{
    font-size: 1.5rem;
    position: absolute;
    left: 25%;
    top: -60px;
  }

  .project-card:hover .project-image{
    transition: 10s;
    background-position: 0 100%;
  }

  .project-image{
    opacity: 0;
    transform: translate(0%, 50%);
  }

  .project-details{
    opacity: 0;
    transform: translate(50%, 0);
  }

  .observed-item  .project-details,
  .observed-item .project-image{
    transition: 2s;
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media only screen and (min-width: 1000px) {
  .skill{
    width: 20%;
  }
}

@media only screen and (min-width: 1000px) {
  :root{
    --btn: normal 600 1.25rem "roboto", sans-serif;
  }
}